@(signinForm: Form[Logininfo])

@import helper._
@import helper.twitterBootstrap._

<!--      css         -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">


@helper.form(action = routes.Login.submit, 'class -> "form-signin"){

<fieldset>
            <h2 class="form-signin-heading">Please sign in</h2>

            <!--<input name="email" type="text" class="form-control" placeholder="Email address" required autofocus>-->
            <!--<input name="passwd" type="password" class="form-control" placeholder="Password" required>-->
            <!--<label class="checkbox">-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
            <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    @inputText(
    signinForm("email"),
             'class->"form-control",
             'autofocus -> "autofocus",
             '_label -> None,
             'placeholder ->"Email",
             '_error -> signinForm.globalError
    )

    @inputPassword(
    signinForm("passwd"),
              'class->"form-control",
              '_label -> None,
              'placeholder -> "Password",
              '_error -> signinForm.globalError
            )
    <!--<label class="checkbox">-->
    <!--<input type="checkbox" value="remember-me"> Remember me-->
    <!--</label>-->

    @checkbox(
    signinForm("accept"),
    '_label -> None, '_text -> "Remember me",
    '_showConstraints -> false
    )
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="btn btn-signup" href="@routes.Signup.blank">Sign up</button>

    </fieldset>
}